name: Test and Build Plugin

on:
  push:
    branches: [master, develop]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install yarn
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install deps
        run: yarn install

      # - name: Run tests
      #   run: yarn test

      - name: Run build
        run: yarn build

      - name: Run verify
        run: yarn verify
